[Unit]
Description=Nomad is an open source scheduler that uses a declarative job file for scheduling virtualized, containerized, and standalone applications.
Documentation=https://www.nomadproject.io
After=network-online.target
Wants=network-online.target

[Service]
User=root
Group=nomad
EnvironmentFile=-/etc/sysconfig/nomad
ExecStart=/usr/bin/nomad $CMD_OPTS
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
